extends layout

block content

    div.wrapper()
        div.first()
            div.sideBar
                div.personalInfo()
                    div.deco()
                    div.helperDiv()
                        a#aUsername.infoText()
                    div.helperDiv()
                        div.picHolder(style='background-image: url(/pictures/userIcon.png);')
                div.serverInfo()
                    div.deco()
                    div.helperDiv() Active User
                    ul#ulUser.userList
                    div.deco()
                    div.helperDiv() Groups
                    div.helperDiv()
                        button.btnAdd()  add a group
                    ul.groupList()
                        li() Group 1
                        li() Group 2
                        li() Group 3
                        li() Group 3
                        li() Group 3
                        li() Group 3
                        li() Group 3
                        li() Group 3
                        li() Group 3
                    div.deco()
        div.second()
            ul#ulRoomNav.roomNav()
            div#chatRoom.chatRoom()
            form#formChat.formChat()
                input#inputChat.inputChat(type="text", placeholder="Enter your message")
                button#btnChat.btnChat(style='background-image: url(/pictures/sendIcon.png);')
                button.btnChat(style='background-image: url(/pictures/picIcon.png);')

    script(src='/socket.io/socket.io.js')
    script(src='javascripts/chat.js')


