extends layout

block content
    div.wrapper()
        div.first()
            div.sideBar
                div.personalInfo()
                    a#aUsername()
                div.serverInfo()
                    a() Active User
                    ul#ulUser.userList
        div.second()
            ul#ulRoomNav.roomNav()
            div#chatRoom.chatRoom()
            form#formChat.formChat()
                input#inputChat.inputChat(type="text", placeholder="Enter your message")
                button#btnChat.btnChat() Send

    script(src='/socket.io/socket.io.js')
    script(src='javascripts/chat.js')


