extends layout

block content
    div.sideBar
    ul.messages()
        li Test
        li Test2

    form.formChat()
        input.inputChat(name="massage", type="text", placeholder="Enter your username")
        button.btnChat(type='submit') Send

