extends layout

block content

    div.wrapper()
        div.first()
            div.sideBar
                div.personalInfo()
                    div.deco()
                    div.helperDiv()
                        a#aUsername.infoText()
                    div.helperDiv()
                        div.picHolder(style='background-image: url(/pictures/userIcon.png);')
                div.serverInfo()
                    div.deco()
                    div.helperDiv() Active User
                    ul#ulUser.userList
                    div.deco()
                    div.helperDiv()
                        button#btnAddGroup.btnAdd() add a group
                        div#modalWindow.modal()
                            div#modalContent.modal-content()
                                span#spanClose.close() &#x2715
                                input#inputGroupName.inputGroup(placeholder="Enter the grpup name")
                                form#userSelection()
                                button#createGroup.btnAdd() Create
                    div.deco()
        div.second()
            ul#ulRoomNav.roomNav()
            div#chatRoom.chatRoom()
            form#formChat.formChat()
                input#inputChat.inputChat(type="text", placeholder="Enter your message")
                button#btnChat.btnChat(style='background-image: url(/pictures/sendIcon.png);')
                button.btnChat(style='background-image: url(/pictures/picIcon.png);')

    script(src='/socket.io/socket.io.js')
    script(src='javascripts/chat.js')


