extends layout

block content
    h1= title
    p Welcome to #{title}
    form(action="/login/verification", method="POST")
        input(name="username", type="text", placeholder="Enter your username")
        input(name="password", type="password", placeholder="Enter your password")
        button(type="submit") Login
    a(class='button', href='/registration') Have no Account?