extends layout

block content
    div.main
        div.imgbox
            img.imglogo(src='/pictures/logo_transparent.png' alt='logo')
        div.alignInput
            div.inputwrapper
                img.inputicon(src='/pictures/user.png' alt='mail icon')
                input#username.inputfield(type="text", placeholder="Enter your username", required='true',maxlength="255")
            div.inputwrapper
                img.inputicon(src='/pictures/password.png' alt='mail icon')
                input#password.inputfield(type="password", placeholder="Enter your password", required='true',maxlength="255")
        div.alignWrapper
            div.btnWrapper
                button#btnLogin.btnAuth() Login
            div.btnWrapper
                label#lError.errorField()
            div.btnWrapper
                a.register(class='button', href='/registration') Have no Account?
    script(src='javascripts/login.js')