doctype html
head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Sign in
.main
    p.sign(align='center') Sign in
    form.form1
        input.un(type='text' align='center' placeholder='Username')
        input.pass(type='password' align='center' placeholder='Password')
        a.btn(align='center') Sign in
        p.register(align='center')
            a(href='#') Register