extends layout

block content
    h1= title
    p Welcome to #{title}
    form(action="/login/credentials", method="POST")
        input(type="email", placeholder="Enter your email address")
        input(type="text", placeholder="Enter your username")
        input(type="password", placeholder="Enter your password")
        button(type="submit") Submit