extends layout

block content
    h1= title
    p Welcome to #{title}
    form(action="/registration", method="POST")
        input(name = "email", type="email", placeholder="Enter your email address")
        input(name = "username", type="text", placeholder="Enter your username")
        input(name = "password", type="password", placeholder="Enter your password")
        input(name = "superpower", type="text", placeholder="Enter your superpower")
        button(type="submit") Register
    a(class='button', href='/login') Have a Account?