body {
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
}


.main {
  background-color: #FFFFFF;
  width: 400px;
  height: 500px;
  margin: 7em auto;
  border-radius: 5px;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.4);
}

.inputfield {
  background-color: transparent;
  color: black;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 0px 0px;
  margin-left: 0px;
  text-align: center;
  /*margin-bottom: 27px;*/
  font-family: 'Ubuntu', sans-serif;
  width: 85%;
  height: 42px;
}


.inputfield:hover{
  border-color: deeppink;
}

.inputwrapper{    position: revert;
  position: revert;
  max-width: 75%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #eeeeee 3px;
  margin-left: 11%;
  margin-top: 20px;
  border-radius: 0px;
}
.inputwrapper:hover{
  border-color: deeppink;
}
.inputwrapper:focus{
  border-bottom-color: deeppink;
}

.inputicon{
  width: 30px;
  height: 30px;
  margin-left: 0px;
  margin-top: 10px;
}

.sign {
  padding-top: 0px;
  color: #0000ff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
}


form.form1 {
  padding-top: 28px;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  color: black;
  background:#eeeeee;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0px 0px 0px 0px black;
  margin-top: 39px;
  margin-bottom: 10px;

}

.btn:hover {
  background-color: deeppink;
  color: white;
}


.btn2 {
  cursor: pointer;
  border-radius: 5px;
  color: black;
  background:#eeeeee;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0px 0px 0px 0px black;
  margin-top: 118px;
  margin-bottom: 10px;

}

.btn2:hover {
  background-color: deeppink;
  color: white;
}

.register {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #ff99cf;
  padding-top: 20px;
  margin-left: 34%;

}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;
  text-decoration: none
}


.imglogo{
  height: 175px;
  width: 175px;
  margin-left: 26%;
}
.imgbox{
  max-height: 100px;
  max-width: 100%;
}


/* ============CHAT=================*/

.form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

.inputChat {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

.inputChat:focus {
  outline: none;
}

.form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

.messageChat {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.messagesChat > li {
  padding: 0.5rem 1rem;
}

.messagesChat > li:nth-child(odd) {
  background: #efefef;
}

/*==================CHAT================*/



.formChat {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 35%;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

.formChat > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

.inputChat {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

.inputChat:focus {
  outline: none;
}

.btnChat{
  width: 100px;
}

.sideBar{
  max-width: 35%;
  border: solid;
  height:100%;
  min-height:30px;
}

.messages {
  list-style-type: none;
  margin-left: 35%;
  padding: 0;
}

.messages > li {
  padding: 0.5rem 1rem;
}

.messages > li:nth-child(odd) {
  background: #efefef;
}
