html {
    height: 100%;
    width: 100%;
}
body {
    background-color: white;
    font-family: Segoe UI, sans-serif;
    height: 98%;
    width: 99%;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 500px;
    margin: 13em auto;
    border-radius: 5px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.inputfield {
    font-family: Segoe UI, sans-serif;
    font-size: 20px;
    background-color: transparent;
    color: black;
    outline: none;
    border: none;
    text-align: center;
    height: 42px;
}

.inputfield:hover {
    border-color: #ff6600;
}

.inputwrapper {
    max-width: 75%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 3px;
    margin-left: 11%;
    margin-top: 20px;
    border-radius: 0px;
}

.inputwrapper:hover {
    border-color: #ff6600;
}

.inputwrapper:focus {
    border-bottom-color: #ff6600;
}

.alignInput {
    height: 185px;
}

.alignWrapper {
    margin-top: 15px;
}

.btnWrapper {
    display: block;
}

.inputicon {
    width: 30px;
    height: 30px;
    margin-top: 8px;
    float: left;
}

.sign {
    padding-top: 0px;
    color: #0000ff;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}


form.form1 {
    padding-top: 28px;
}

.btnAuth {
    cursor: pointer;
    border-radius: 5px;
    color: black;
    background: #ffd1b3;
    border: solid 1px deeppink;
    /* top right bottom left */
    padding: 10px 40px 10px 40px;
    box-shadow: 0px 0px 0px 0px black;
    font-family: Segoe UI, sans-serif;
    font-size: 15px;
    width: 136px;
    margin-top: 10px;
}

.btnAuth:hover {
    background-color: #ff6600;
    color: white;
}

.register {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #ffd1b3;
    font-size: 17px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}


.imglogo {
    height: 175px;
    width: 175px;
}

.imgbox {
    max-height: 35%;
    max-width: 100%;
}

.errorField {
    font-family: Segoe UI, sans-serif;
    color: #FF0000;
    font-size: 15px;
}




/*==================CHAT================*/


.formChat {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 3%;
    left: 25%;
    right: 0.5%;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

.formChat > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

.inputChat {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

.inputChat:focus {
    outline: none;
}

.btnChat {
    width: 100px;
}

.sideBar {
    max-width: 100%;
    border: solid;
    height: 100%;
    min-height: 30px;
}

.messages {
    list-style-type: none;
    margin-left: 0%;
    padding: 0;
    overflow-y: scroll;
    height: 95%;
}

.messages > li {
    padding: 0.5rem 1rem;
}

.messages > li:nth-child(odd) {
    background: #ffd1b3;
}


.wrapper {
    width: 100%;
    border: 1px solid black;
    overflow: hidden; /* add this to contain floated children */
    height: 98%;
}

.first {
    width: 24.89%;
    /*border: 1px solid red;*/
    max-width: 100%;
    float: left;
    height: 100%;
}

.second {
    border: 1px solid green;
    float: left;
    max-width: 100%;
    width: 75%;
    height: 94.5%;
}
.personalInfo{
    height: 20%;
    border: solid;
    border-color: pink;
}
.serverInfo{
    min-height: 10%;
    border: solid;
    border-color: deepskyblue;
}
.userList {
    list-style-type: none;
    margin-left: 0%;
    padding: 0;
    /*overflow-y: scroll;*/
    height: 50%;
}